configuration-schema/src/main/resources/schema/coordination-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.talentica.com/coordination"
	xmlns:tns="http://www.talentica.com/coordination"
	elementFormDefault="qualified">
	<element name="coordination-config">
		<complexType>
			<sequence>
				<element type="tns:cluster-config" name="cluster-config" />
			</sequence>
		</complexType>
	</element>

	<complexType name="cluster-config">
		<sequence>
			<element type="tns:node" name="node" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="node">
		<sequence>
			<element type="int" name="identifier" />
			<element type="string" name="name" />
			<element type="string" name="ip" />
		</sequence>
	</complexType>
</schema>
