configuration-schema/src/main/resources/schema/datapublisher-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.talentica.com/hungryhippos/config/datapublisher"
	xmlns:tns="http://www.talentica.com/hungryhippos/config/datapublisher"
	elementFormDefault="qualified">
	<element name="datapublisher-config">
		<complexType>
			<sequence>
				<element type="int" name="no-of-attempts-to-connect-to-node" />
				<element type="int" name="servers-connect-retry-interval-in-ms" />
				<element type="int" name="no-of-data-receiver-threads" />
				<element type="int" name="max-record-buffer-size" />
			</sequence>
		</complexType>
	</element>

</schema>