configuration-schema/src/main/resources/schema/job-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.talentica.com/hungryhippos/job"
	xmlns:tns="http://www.talentica.com/hungryhippos/job"
	elementFormDefault="qualified">
	<element name="job-config">
		<complexType>
			<sequence>
				<element type="string" name="class-name" />
				<element type="string" name="jar-file-path" />
			</sequence>
		</complexType>
	</element>
</schema>
