configuration-schema/src/main/resources/schema/sharding-server-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.talentica.com/hungryhippos/sharding/server"
	xmlns:tns="http://www.talentica.com/hungryhippos/sharding/server"
	elementFormDefault="qualified">
	<element name="sharding-server-config">
		<complexType>
			<sequence>
				<element type="tns:output-file-config" name="output-file-config" />
			</sequence>
		</complexType>
	</element>
	
	<complexType name="output-file-config">
		<sequence>
			<element type="string" name="maximum-shard-file-size-in-bytes"></element>
			<element type="string" name="maximum-no-of-shard-buckets-size"></element>
		</sequence>
	</complexType>

</schema>