data-synchronizer/src/main/resources/schema/torrent-file-metadata-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.talentica.com/torrent"
	elementFormDefault="qualified">

	<element name="file-metadata">
		<complexType>
			<sequence>
				<element type="string" name="path" nillable="false" />
				<element type="string" name="base64EncodedTorrentFile" nillable="false" />
				<element type="string" name="origin-host" minOccurs="0"></element>				
			</sequence>
		</complexType>
	</element>
	
</schema>